@import 'variables';

#chatters {
  position: fixed;
  top: 59px;
  bottom: 0;
  width: 100vw;
  left: 0;
  overflow-y: auto;
  z-index: 999;
  background: $dark;
  &:not(.visible) {
    display: none;
  }
}

.chatters-list {
  padding: 0 15px;
  li {
    list-style: none;
    display: block;
  }
  &-header {
    text-transform: uppercase;
    padding: 14px 0 7px 4px;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid $darkless;
    margin: 14px 0 0 0;
  }
  &-item {
    color: $grey;
    margin-top: 12px;
    a {
      text-decoration: none;
      color: $grey;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.chatters-close {
  background: transparent;
  border: 0;
  box-shadow: none;
  -webkit-appearance: none;
  border-radius: 0;
  color: #fff;
  opacity: .6;
  padding: 10px 25px;
  margin-right: -8px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  &:hover {
    opacity: 1;
  }
  position: fixed;
  right: 0;
  top: 59px;
}
