@import 'variables';

.chat-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-header {
  display: flex;
  flex-direction: row;
  padding: 20px 15px;
  background: lighten($dark, 2);
  border-bottom: 1px solid $darker;
}

.chat-title {
  color: #fff;
  flex: 1;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}

.chat-roomstate-tag {
  background: rgba(#fff, .3);
  color: #fff;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 3px;
}

#chat-messages {
  flex: 1;
  max-height: calc(100vh - 199px);
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(#fff, .3);
  }
}

.chat-footer {
  padding: 20px 30px;
  position: relative;
}

.chat-input {
  background: $darker;
  border: 1px solid rgba(#fff, .1);
  font-size: 14px;
  resize: none;
  display: block;
  outline: none;
  padding: 7px 10px;
  height: 48px;
  width: 100%;
  color: #fff;
  -webkit-appearance: none;
  box-shadow: none;
  &:focus {
    border-color: rgba(#fff, .3);
  }
}

.chat-bottom {
  margin-top: 14px;
}

.chat-bottom-button {
  background: $darker;
  border: 1px solid rgba(#fff, .1);
  width: 35px;
  height: 35px;
  padding: 0;
  line-height: 35px;
  color: #fff;
  margin-bottom: 3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.chat-line {
  padding: 4px 10px;
  color: $line-color;
  &-mod-icon {
    font-size: 16px;
    color: #898395;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      color: #dad8de;
    }
    &-text {
      margin-left: 2px;
    }
    .fa {
      pointer-events: none;
    }
  }
  &-mod-icons {
    margin-right: 4px;
  }
  &-mention {
    background-color: rgba(#ff0000, .3);
  }
}
// {font-size:16px;color:#898395!important;margin-right:3px
.setting-chat-chatlines {
  .chat-line {
    border-top: 1px solid rgba(#fff, .1);
    border-bottom: 1px solid #000;
  }
}

.chat-line-badge {
  margin-bottom: -5px;
}

.chat-line-name {
  font-size: 12px;
  display: inline-block;
  font-weight: 600;
  line-height: 20px;
  vertical-align: middle;
}

.chat-line-name-inner {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.chat-line-notice {
  color: $grey;
  font-size: 12px;
  line-height: 20px;
  .chat-line-revealer:not(.chat-line-revealed) {
    color: lighten($grey, 28);
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.chat-line-text {
  font-size: 12px;
  line-height: 20px;
  a {
    color: $grey;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.chat-line-deleted {
  opacity: .6;
  .chat-line-text {
    text-decoration: line-through;
  }
}

.chat-line-emote, .emoji {
  margin: -.5rem 0;
  vertical-align: middle;
}

.emoji {
  height: 20px;
}

.chat-line-badge-moderator {
  background-color: $mod;
}

.chat-line-mentioned {
  background: rgba(255, 0, 0, 0.3) !important;
}

.chat-status {
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  background: rgba(#000, .8);
  padding: 10px 12px;
  left: 0;
  bottom: calc(100% - 20px);
  font-size: 14px;
  pointer-events: none;
  &.clickable {
    cursor: pointer;
    pointer-events: all;
    &:hover {
      text-decoration: underline;
    }
  }
}

.chat-line-cheer-amount {
  font-weight: 600;
  margin-left: 5px;
}

.chat-line-automod {
  &-button {
    background: transparent;
    -webkit-appearance: none;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    &-approve {
      color: $mod;
    }
    &-deny {
      color: $danger;
    }
    .fa {
      pointer-events: none;
    }
  }
  &-reason {
    color: $grey;
    font-size: 12px;
    line-height: 20px;
    font-style: italic;
  }
}

.chat-line-usernotice {
  padding: 5px 20px 5px 16px;
  border-left: 4px solid $twitch;
  color: $line-color;
  background: hsla(0, 0%, 50%, .1);
  word-wrap: break-word;
  &-name {
    color: #fff !important;
    text-decoration: none !important;
    font-weight: 700;
  }
  &-prime {
    text-decoration: underline !important;
    color: lighten($line-color, 1) !important;
  }
}
